// Banner
#bannerCarousel {
    .carousel-inner {
        background-color: rgba($color: #000000, $alpha: 1);
    }
    &::after {
        content: "";
        background-color: #000000;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        border-radius: 0.5rem;
    }
    .carousel-item {
        min-height: 480px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .carousel-caption {
            bottom: 25%;
        }
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        bottom: 20% !important;
        &--title {
            font-size: 2rem !important;
        }
        &--description {
            font-size: 0.875rem;
        }
    }
}
